---
import { formatDateDay, formatDateMonthYear } from "../lib/date";
import type { PostWithReadingTime } from "../lib/posts";
import { formatReadingTime } from "../lib/reading-time";

interface Props {
  posts: PostWithReadingTime[];
}

const { posts } = Astro.props;
---

{
  posts.length > 0 && (
    <section class="post-recommendations" aria-labelledby="recommended-posts">
      <h2 id="recommended-posts">You might also like...</h2>
      <div class="recommendation-list">
        {posts.map((post) => (
          <a class="recommendation-link" href={`/post/${post.id}/`}>
            <time class="recommendation-date" datetime={post.data.publishedAt.toISOString()}>
              <span>{formatDateDay(post.data.publishedAt)}</span>
              <span>{formatDateMonthYear(post.data.publishedAt)}</span>
            </time>
            <span class="recommendation-title">{post.data.title}</span>
            <span class="recommendation-reading-time">
              {formatReadingTime(post.readingTimeMinutes)}
            </span>
          </a>
        ))}
      </div>
    </section>
  )
}
